{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'interface/colorpicker_themes.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'interface/style.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'interface/colorpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'interface/interface.js' %}"></script>